.subformCardEditMode {
  width: 300px;
  gap: var(--fds-spacing-3);
  background-color: var(--fds-semantic-background-default);
  border: var(--fds-border_width-active) solid var(--fds-semantic-border-first-active);
  border-radius: var(--fds-border_radius-large);
}

.subformTabs {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  padding-inline: var(--ds-size-1);
}

.tabContent {
  padding: var(--ds-size-2) 0;
}

.tabContent select {
  width: 100%;
}

.buttonContainer {
  display: flex;
  gap: var(--fds-spacing-2);
  padding-bottom: var(--fds-spacing-3);
}
