name: Runtime - deploy operator

on:
  push:
    branches:
      - main
    paths:
      - src/Runtime/operator/**
      - .github/workflows/deploy-runtime-operator.yaml
  workflow_dispatch:
    inputs:
      environments:
        description: "Runtime environments to tag. Comma-separated (e.g. at_ring1,at_ring2)."
        required: false
        default: "at_ring1"

permissions:
  id-token: write
  contents: read
  actions: write

jobs:
  get-short-sha:
    uses: ./.github/workflows/template-short-sha.yaml

  construct-rings-array:
    uses: ./.github/workflows/template-runtime-construct-environments.yaml
    with:
      inputs: ${{ toJSON(github.event.inputs) }}

  push-operator-artifact:
    name: Push operator as OCI artifact
    needs: get-short-sha
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      id-token: write # Require write permission to Fetch an OIDC token.
      packages: write # Require write permission to push to GHCR.
    outputs:
      short-sha: ${{ needs.get-short-sha.outputs.short-sha }}
      config-repo: ${{ steps.vars.outputs.config-repo }}
    defaults:
      run:
        working-directory: src/Runtime/operator
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0 # Shallow clone

      - name: Set up Docker
        uses: docker/setup-docker-action@e43656e248c0bd0647d3f5c195d116aacf6fcaf4 # v4.7.0
        with:
          daemon-config: |
            {
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: set vars
        id: vars
        run: |
          SHA=$(git rev-parse --short HEAD)
          GHCR_BASE="ghcr.io/altinn/altinn-studio"
          ACR_PREFIX="altinncr.azurecr.io"

          echo "registry-name=altinncr" >> $GITHUB_OUTPUT
          echo "ghcr-image-repo=${GHCR_BASE}/runtime-operator:${SHA}" >> $GITHUB_OUTPUT
          echo "image-repo=${ACR_PREFIX}/${GHCR_BASE}/runtime-operator:${SHA}" >> $GITHUB_OUTPUT
          echo "config-repo=${ACR_PREFIX}/studio-apps/runtime-operator-repo:${SHA}" >> $GITHUB_OUTPUT

      - name: login to ghcr
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: az login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID_FC }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID_FC }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_FC }}

      - name: az acr login
        run: az acr login --name ${{ steps.vars.outputs.registry-name }}

      - name: flux install
        uses: fluxcd/flux2/action@8454b02a32e48d775b9f563cb51fdcb1787b5b93 # v2.7.5

      - name: docker build
        run: docker build --platform linux/amd64,linux/arm64 -t ${{ steps.vars.outputs.ghcr-image-repo }} -f Dockerfile .

      - name: scan image - proxy
        uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284 # 0.34.0
        with:
          image-ref: '${{ steps.vars.outputs.ghcr-image-repo }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      - name: push images
        run: docker push ${{ steps.vars.outputs.ghcr-image-repo }}

      - name: patch base with image tag
        working-directory: src/Runtime/operator/config/manager
        run: |
          export IMAGE="${{ steps.vars.outputs.image-repo }}"
          export IMAGE_TAG="${{ needs.get-short-sha.outputs.short-sha }}"
          yq -i '.metadata.annotations["altinn.studio/image"] = env(IMAGE)' manager.yaml
          yq -i '.metadata.annotations["altinn.studio/image-tag"] = env(IMAGE_TAG)' manager.yaml

      - name: push artifact
        working-directory: src/Runtime/operator/config
        run: |
          flux push artifact oci://${{ steps.vars.outputs.config-repo }} \
            --provider=generic \
            --reproducible \
            --path="." \
            --source="$(git config --get remote.origin.url)" \
            --revision="$(git branch --show-current)/$(git rev-parse HEAD)"

  tag-operator:
    name: Tag operator
    needs: [push-operator-artifact, construct-rings-array]
    runs-on: ubuntu-latest
    environment: ${{ matrix.environment }}
    permissions:
      id-token: write # Require write permission to Fetch an OIDC token.
    strategy:
      matrix:
        include: ${{ fromJson(needs.construct-rings-array.outputs.result) }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0 # Shallow clone

      - name: az login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID_FC }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID_FC }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_FC }}

      - name: az acr login
        run: az acr login --name altinncr

      - name: flux install
        uses: fluxcd/flux2/action@8454b02a32e48d775b9f563cb51fdcb1787b5b93 # v2.7.5

      - name: tag artifact
        run: |
          flux tag artifact oci://${{ needs.push-operator-artifact.outputs.config-repo }} \
            --tag ${{ matrix.ring }}
