name: "Lint PR"
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review, edited]

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title to be semantic
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
