name: MCP - Test

on:
  pull_request:
    paths:
      - 'src/AI/mcp/**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
      with:
        python-version: '3.12'

    - name: Install uv
      run: pip install uv

    - name: Install dependencies
      working-directory: src/AI/mcp
      run: uv pip install --system .[dev]

    - name: Run MCP unit tests
      working-directory: src/AI/mcp
      run: python -m pytest
      env:
        AZURE_API_KEY: ${{ secrets.AZURE_AI_KEY }}
