name: operator - Build

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - 'src/Runtime/operator/**'
      - 'src/Runtime/devenv/**'
      - '.github/workflows/runtime-operator-build.yml'
      - 'src/App/azure-pipelines/deploy-app.yaml'
  workflow_dispatch:

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: src/Runtime/operator

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version-file: src/Runtime/operator/go.mod
          cache-dependency-path: src/Runtime/operator/go.sum

      - name: Build
        run: make build

      - name: Lint
        run: make lint

      - name: Run tests
        run: make test

  test-e2e:
    name: Build and test - e2e
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: src/Runtime/operator

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version-file: src/Runtime/operator/go.mod
          cache-dependency-path: src/Runtime/operator/go.sum

      - name: Run fixture
        run: make start

      - name: Run e2e tests
        run: make test-e2e

      - name: Upload test logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: runtime-operator-test-logs
          path: src/Runtime/operator/test/logs/
