name: Runtime Gateway - Build and test

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - 'src/Runtime/gateway/**'
      - 'src/Runtime/devenv/**'
      - '.github/workflows/runtime-gateway-tests.yaml'
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/Runtime/gateway/
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
        with:
          dotnet-version: |
            10.0.x

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: src/Runtime/gateway/go.mod

      - name: Build
        run: make build

      - name: Run unit tests
        run: make test

      - name: Run fixture
        run: make start-minimal

      - name: Run e2e tests
        run: make test-e2e
